@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: "SUSE", sans-serif;
  background-image: url(../images/Nature.png);
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container .box {
  background-color: rgba(255, 255, 255, 0.589);
  height: 25em;
  border: 4px solid #000;
  border-radius: 4%;
  padding: 5px;
  width: 30em;
  box-shadow: 5px 5px 10px #000000ad;
  opacity: 0;
  visibility: hidden;
  animation: beVisible;
  animation-delay: 0.3s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;
}
.container .box h2 {
  text-align: center;
  padding: 10px;
  font-size: 2em;
  color: rgb(0, 0, 0);
  user-select: none;
}
.container .box .datas {
  height: fit-content;
  padding: 0px 20px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 2.5fr;
  row-gap: 15px;
  padding-top: 1em;
  margin-bottom: 10px;
}

input {
  height: 2em;
  padding: 5px;
  width: 100%;
  font-weight: bold;
  box-shadow: 0px 7px #000;
  border-radius: 10px;
  border: 1px solid;
}
label {
  font-size: 1.5em;
  font-weight: bold;
  user-select: none;
}

.container .check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.container .check-box div {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  box-shadow: none;
  width: 30px;
  height: 1em;
}
.box .login {
  margin-top: 25px;
  padding: 20px;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box .login a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0px 5px black;
  background-color: green;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
}
.box .login p {
  font-weight: bold;
  user-select: none;
}
.box .login a:hover {
  translate: 0px 5px;
  box-shadow: none;
}
.box .End-button {
  padding: 50px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .End-button a {
  background-color: blue;
  text-decoration: none;
  color: white;
  border: 3px solid black;
  border-radius: 15px;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  box-shadow: 0px 5px black;
  font-weight: bold;
  letter-spacing: 1px;
}
.box .End-button a:hover {
  box-shadow: none;
  translate: 0px 5px;
}
.box .check-box label {
  font-size: 0.9em;
}
/*^------------------------------------> Media Querys <---------------------------------   */
@media (max-width: 30em) {
  .container .box {
    width: 22em;
  }
  .datas label {
    font-size: 1em;
  }
  .box .login p {
    font-size: 1em;
  }
  .box .login a {
    padding: 5px;
    font-size: 0.7em;
  }
}
@keyframes beVisible {
  to {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .box .login p {
    font-size: 0.9em;
  }
  .box .login a {
    font-size: 0.6em;
  }
  .box .login {
  }
  .box .check-box label {
    font-size: 0.8em;
  }
}
